<div class="navbar bg-base-100 shadow-md px-4">
  <div class="navbar-start">
    <ng-icon name="heroBanknotes" class="text-3xl"/>

    <a class="btn btn-ghost text-xl font-bold">
      Banco
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/products" routerLinkActive="text-yellow-500">Productos</a></li>
      <li><a routerLink="/about">otros</a></li>
    </ul>
  </div>

  <div class="navbar-end gap-2">

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://i.pravatar.cc/40" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-1 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a><ng-icon name="heroWrenchScrewdriver"/>Perfil</a></li>
        <li><a><ng-icon name="heroUser"/>Configuración</a></li>
        <li><a routerLink="/login"><ng-icon name="heroPower"/> Salir</a></li>
      </ul>
    </div>
  </div>
</div>

